* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
}

.header-title {
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-size: 1.875rem;
  font-weight: bold;
  color: #0290ff;
}

.header-books {
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  color: #121212;
}

.header-category {
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  color: #a7a7a7;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

.bookContainer {
  display: flex;
  list-style: none;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.bookList {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bookInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookCategory {
  color: #121212;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
}

.bookTitle {
  color: #121212;
  margin: 0.188rem 20.188rem 0 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
}

.bookAuthor {
  color: #4386bf;
  font-weight: 300;
  margin: 0.25rem 0 1.3rem 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
}

.bookCommands > a {
  color: #4386bf;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
}

.addHeader {
  margin: 2.313rem 6.25rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: -0.18px;
  color: #888;
}

.addTitle {
  margin: 2.313rem 5.25rem;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
}

.addAuthor {
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.addFormContainer > a {
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #0290ff;
}

.bookScore {
  display: flex;
  border-right: solid 1px #e8e8e8;
}

.circle {
  position: relative;
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
  background: conic-gradient(#0290ff 270deg, #c6c8d6 70deg);
  margin-right: 20px;
}

.circle::before {
  content: '';
  position: absolute;
  height: 82%;
  width: 82%;
  background-color: white;
  border-radius: 50%;
}

.percentage {
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-size: 2rem;
  color: #121212;
}

.status {
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
  color: #121212;
}

.chapterContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.chapterStatus {
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  color: #121212;
}

.currentChapter {
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: -0.4px;
  color: #121212;
}

.updateChapter {
  font-family: RobotoSlab, sans-serif;
  color: white;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
}
